body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif, "Poppins";
}

pre {
  font-size: 7em;
}

.marks .land {
  fill: #d8d8d8;
}

.marks .sphere {
  fill: #ececec;
}
.marks .interiors {
  stroke: #c3c3c3;
  fill: none;
}
.marks .graticule {
  stroke: #dadada;
  fill: none;
}
